<%= form_with(model: item, local: true) do |form| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
        <% item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :produto_id %>
    <%= form.select :produto_id, @produtos, include_blank:true %>
  </div>

  <div class="field">
    <%= form.label :preco_custo %>
    <%= form.text_field :preco_custo %>
  </div>

  <div class="field">
    <%= form.label :preco_venda %>
    <%= form.text_field :preco_venda %>
  </div>

  <div class="field">
    <%= form.label :quantidade %>
    <%= form.number_field :quantidade, min: 1, default: 1 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
